$headerH: 55px;

h1{
    display: inline-block;
    margin: 0 15px 0 0;
    height: $headerH;
    line-height: $headerH;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    img{
        margin: 0 6px;
        height: 30px;
        vertical-align: middle;
    }
}

.user-operations{
    float: right;
    margin: 15px 50px 0 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}