@import '../variable.scss';
$headerH: 55px;
$sideW: 200px;
$sideWF: 65px;
$footerH: 30px;
$borderC: #897537;

.main-layout{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(6, 173, 132);

    .layout-content-container{
        flex: 1;
        height: 100%;
        overflow-y: scroll;
        // position: absolute;
        // top: $headerH;
        // bottom: 0;
        // width: 100%;
        // overflow: hidden;
    }
  
    .layout-header{
        height: $headerH;
        background-color: rgba(#333, .3);    
    }

    .layout-content{
        // position: absolute;
        // left: $sideW;
        // right: 0;
        // top: 45px;
        // bottom: $footerH;
        flex: auto;
        padding: 10px;
        overflow: auto;
        .content-inner{
            width: 100%;
            padding: 10px;
            background-color: #fff;
        }
    }

    .layout-footer{
        flex: 1;
        height: $footerH;
        line-height: $footerH;
        text-align: center;
        border-top: solid 1px $borderC;
        color: #c5c5c5;
        font-size: 12px;
        background-color: rgba(#333, .3);  
        a{
            text-decoration: underline;
        }
    }
}

/* 菜单 */
::v-deep {
    .layout_nav_sidebar_unfold {
        flex: 0 0 $sideW;
    }
    .layout_nav_sidebar_fold {
        flex: 0 0 $sideWF;
    }
    .layout_nav_sidebar {
        // position: absolute;
        height: 100%;
        // width: $sideW;
        // overflow: auto;
        transition: flex .2s;
        background-color: rgba(#333, .3);  
        h1{
            margin: 0 15px 0 0;
            height: $headerH;
            line-height: $headerH;
            font-size: 18px;
            color: #fff;
            cursor: pointer;
            img{
                margin: 0 6px;
                height: 30px;
                vertical-align: middle;
            }
        }
    }
}

/* 头部 */
::v-deep .index_head_part{
    display: flex;
    .menu_fold_icon{
        flex: 1;
        span{
            // display: inline-block;
            position: relative;
            top: 10px;
            font-size: 26px;
            color: $c1;
        }
    }
    .user{
        width: 160px;
        height: 40px;
        line-height: 40px;
        margin-top: 7.5px;
        color: #fff;
    }
}


.ud-menu .el-submenu__title i{
    color: #fff;
}
.ud-menu ::v-deep .is-active{
    background-color: #409EFF!important;
}




