.ud-search-container{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.ud-option-btn-container{
    padding: 10px;
    background-color: #fff;
    .ud-option-btn-inner{
        margin-right: 3px;
        display: inline-block;
    }
}

.ud-pagination{
    padding: 10px;
    text-align: right;
    background-color: #fff;
}

// 表格操作项的按钮
.ud-table-operation-btn{
    margin-right: 3px;
}

// 添加文字事件样式
.link-text{
    font-weight: 700;
    color: #2d8cf0;
    text-decoration: underline;
}


pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 3px;
    background-color: rgb(245, 245, 248);
}
