// @import './variables.scss';
// @import './mixin.scss';
// @import './transition.scss';
@import './media.scss';
@import './common.scss';
@import './reset.scss';

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

#app{
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app{
    height: 100%;
}